/*
* Prefixed by:
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@media (min-width: 900px) and (max-width: 1250px) {
    .head_container {
        padding-left: 25px;
        padding-right: 25px;
    }

    .baner_container {
        padding-left: 75px;
        padding-right: 25px;        
    }

    .zakaz_container {
        padding-left: 25px;
        padding-right: 25px;
    }

    .footer_container {
        padding-left: 25px;
        padding-right: 25px;
    }

    .zakaz_forma_item:not(:last-child) {
        margin-right: 25px;
    }
    
    .zakaz_forma_inputWrapper select {
        min-width: 250px;
    }

    .zakaz_forma_progrressContent {
        margin-right: 25px;
    }

    .footer_container address a:not(:last-child) {
        margin-right: 10px;
    }

    .footer_container address {
        width: 45%;
        -ms-flex-pack: distribute;
            justify-content: space-around;   
    }

    .footer_vertical-line {
        display: none;
    }
}

@media (min-width: 560px) and (max-width: 899px) {

    .head_container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .head_logo {
        margin-bottom: 25px;
    }

    
    .baner {
        background-image: url(../images/banerMob.webp);
        background-position: top right;
        min-height: 787px;
    }

    .baner_container {        
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 200px;        
    }

    .baner_content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .baner_h1 {        
        margin-bottom: 45px;
        text-align: center;
    }

    .baner_mainText { 
        width: 75%;       
        margin-bottom: 45px; 
        -ms-flex-item-align: end; 
            align-self: flex-end;               
    }   

    .baner_buttons {
        text-align: center;
    }

    .zakaz_container {
        padding-left: 15px;
        padding-right: 15px;
    }
  
    .zakaz_icons  {
        background-image: none;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-bottom: 20px;
    }

    .zakaz_icon {
        margin-bottom: 25px;
    }

    .zakaz_forma_inputWrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: initial;
            -ms-flex-pack: initial;
                justify-content: initial;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .zakaz_forma_item {
        width: 70%;
    }

    .zakaz_forma_item:not(:last-child) {
        margin-bottom: 15px;
    }
    
    .footer {
        min-height: 100px;
    }

    .footer_container {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 20px;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .footer_copyright {
       width: 100%;
       text-align: center;
       margin-bottom: 15px;
       -webkit-box-ordinal-group: 4;
           -ms-flex-order: 3;
               order: 3;
    }

    .zakaz_forma_progrressContent {       
        margin-right: 15px;
    }

    .footer_vertical-line {
        display: none;
    }

    .footer_container_adress1 {
        width: auto;
        margin-right: 15px;
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
        margin-bottom: 10px;
    }

    .footer_container_adress2 {
        width: auto;
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
        margin-bottom: 10px;
    }
}

@media (min-width: 320px) and (max-width: 559px) {

    .head_navigation {
        overflow: hidden;
        width: 0;
        position: absolute;
        top: 100px;
        left: 0;
        height: 110vh;
        background: rgba(144, 139, 139, 0.8);
    }

    .head_list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; 
        -webkit-box-align: start; 
            -ms-flex-align: start; 
                align-items: flex-start; 
        padding-left: 15px;      
    }

    .head_listItem a {
        font-size: 24px;
    }
    
    .head_listItem {
        margin-bottom: 35px;
    }

    .head_listItem:not(:last-child) {
        margin-right: 0;
    }

    .burger {
        display: block;
    }

    .head_container {       
        -ms-flex-pack: distribute;       
            justify-content: space-around;
    }

    .baner {
        background-image: url(../images/banerMob.webp);
        background-position: top right;
        min-height: 787px;
    }

    .baner_container {
        padding-top: 145px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .baner_content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .baner_h1 {
        text-align: center;
        font-size: 32px;
        margin-bottom: 35px;
    }

    .baner_mainText {
        width: 85%;
        margin-bottom: 25px;
    }

    .baner_mainText_heading {
        text-align: left;
    }

    .baner_buttons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .baner_buttons {
        width: 90%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .buner_but-style1 {
        margin: 0;
        margin-bottom: 15px;                
    }

    .buner_but-style2 {        
        margin-bottom: 15px;
    }

    .zakaz  {
        padding-top: 47PX;
    }

    .zakaz_container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .zakaz_title {
        text-align: center;
    }

    .zakaz_subTitle {
        text-align: center;
        margin-bottom: 35px;
    }

    .zakaz_icons {  
        background-image: none;      
        -webkit-box-orient: vertical;      
        -webkit-box-direction: normal;      
            -ms-flex-direction: column;      
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .zakaz_icon:not(:last-child) {
        margin-bottom: 15px;
    }

    .zakaz_forma_inputWrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;       
    }

    .zakaz_forma_item {
        width: 100%;
    }

    .zakaz_forma_item:not(:last-child) {
        margin-bottom: 15px;
    }

    .zakaz_forma_progrressWrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        margin-bottom: 32px;
    }

    .zakaz_forma_addButton {
        width: 100%;
        margin-bottom: 25px;
    }

    .zakaz_forma_sendButton {
        width: 100%;
    }

    .footer {
        min-height: 130px;
    }

    .footer_container {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .footer_copyright {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
        -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
                order: 3;
     }
     
     .footer_vertical-line {
         display: none;
     }
 
     .footer_container_adress1 {
         width: 80%;
         -ms-flex-wrap: wrap;
             flex-wrap: wrap;
         margin-right: 0;
         -webkit-box-ordinal-group: 2;
             -ms-flex-order: 1;
                 order: 1;
         margin-bottom: 10px;
         -webkit-box-pack: center;
             -ms-flex-pack: center;
                 justify-content: center;                 
     }
 
     .footer_container_adress2 {
         width: auto;
         -webkit-box-ordinal-group: 3;
             -ms-flex-order: 2;
                 order: 2;
         margin-bottom: 10px;
         -webkit-box-pack: justify;
             -ms-flex-pack: justify;
                 justify-content: space-between;
     }

     .footer_container address a:not(:last-child) {
        margin-right: 5px;
    }
}